HEALTHCHECKURL="https://health.fhoss.de/ping/"
HEALTCHECKPINGID="<health_check_ping_id>"
PINGURL="$HEALTHCHECKURL$HEALTCHECKPINGID"
DOCKERDIR="/opt/docker/"
BACKUPDIR="/opt/backup/"
PCLOUDLOCATION="Backups/bmw/"
RESTIC_PASSWORD_FILE="<example_password_file>"
