PINGURL="https://health.fhoss.de/ping/<health_check_ping_id>"
DOCKERDIR="/opt/docker/"
BACKUPDIR="/opt/backup/"
PCLOUDLOCATION="Backups/bmw/"
RESTIC_PASSWORD_FILE="/opt/backup/.resticpwd"
EXTERNALMEDIAFOLDER="/media/external/media/"
LOCALMEDIAFOLDER="/home/flohoss/media/"
